@keyframes test{
	from{margin-top:-100px;}
	to{margin-top:-20px;}
}

.test{
	position: absolute;
	animation-name:test;
	animation-duration:1.1s;
	background: linear-gradient(to bottom, #000000 0%,#3f3f3f 100%);
	height: 76px;
	width: 1000px;
	margin: -20px auto 10px 175px;
	border-top: 2px #222 solid;
	border-bottom: 2px solid #222;
}

.test h3 {
	color: white;
	margin: 20px 0px 0px 10px;
	float: left;
}

.fact{
	border: 2px solid black;
	margin: 0px 0px 0px 200px;
	padding: 10px 10px 10px 10px;
	background-color: rgba(0,0,0,0.5);
	height:330px;
	width:915px;
}



body {
	background-image: url("../img/bbild.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin : 0px;
    padding: 0px;
}

nav{
	position: :fixed;
	background-color: #000000;
	height: 98px;
	width: 1000px;
	margin: -3px auto 10px auto;
	border-top: 2px #222 solid;
	border-bottom: 2px solid #222;
}

.navbild1{
	width:11px;
	height:100px;
	float:left;
	margin-left:-10px;

}

.navbild2{
	width:10px;
	height:100px;
	float: right;
	margin-right: -10px;
}

.navbild3{
	width:11px;
	height:170px;
	float:left;
	margin-left:-10px;

}

.navbild4{
	width:10px;
	height:170px;
	float: right;
	margin-right: -10px;
}


.navlink{
	position: relative;
	color: white;
	float: left;
	margin: 5px 0px 0px 20px;
}
.navlink h2 {
 	color:white;
 	transition: color 1s; 
}

.navlink h2:hover{
	color: #F0651F;
}

#searchbox
{
    background-color: black;
    background-image: linear-gradient(#black, #black);
    border-radius: 35px;    
    border-width: 1px;
    border-style: solid;
    border-color: #gray #gray #gray;            
    width: 300px;
    height: 35px;
    padding: 10px;
    padding-left: 200px;
    margin: 10px auto 50px;
    overflow: hidden; /* Clear floats */
}

#search, 

#submit {
    float: left;
}



#search {
    padding: 5px 9px;
    height: 23px;
    width: 170px;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
    margin:0px;
}

#submit
{       
    background-color: orange;
    background-image: linear-gradient(darkorange, brown);
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: orange;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 35px;
    margin: 0px;
    padding: 0px;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
} 

#submit:active {       
    background: orange;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}

main{
	margin-top: 100px;
	margin-left:170px;
	width:1000px;
	height:auto;
}

.main{
	margin-top: 10px;
	margin-left:170px;
	width:1000px;
	height:auto;
}

.ruta1{
	display:inline-block;
	position: relative;
	height:317px;
	width:214px;
	margin: 20px 0px 0px 28px;
	border: 2px solid #222;

}

.ruta1 img{
	width: 214px; 
	height:317px;
}

.ruta2{
	height:317px;
	margin: -60px 0px 0px 0px;
	border: 2px solid #222;
	float:left;
	width:215px;

}

#factWrapper{

	height:200px;

}
.about{
	float:left;
	margin:0px 0px 0px 15px;
	max-width: 680px; 
	color: grey;
}

.ruta2 img{
	width: 100%;
	height:100%;
}

.name{
	margin: -20px 0px 0px 250px;
	color: black;
	text-decoration: underline;
}

.name h1{
	text-decoration: none;
	color:grey;
}

.filmp{
	width: 100%;
	height:40px;
	bottom:0;
	background-color: rgba(1,1,1,0.75);
	position: absolute;
	border-top:2px solid black;
}

.filmp p{
	color: white;
	text-align: center;
}

.overlay{
	background-color: rgba(1,1,1,0.0);
	width:100%;
	height:100%;
	margin-top: -321px;
	position: absolute;
}

.overlay:hover{
	background-color: rgba(1,1,1,0.5)
}


input {
	margin: 5px 0px 10px 0px;
}
.download {
	height: 60px;
	width: 250px;
 	background-color: orange;
    background-image: linear-gradient(darkorange, brown);
	float: right;
	text-align: center;
	line-height: 20px;
	border-radius: 10px;
	text-decoration: none;
}
.download:hover {
	box-shadow: inset 0px 10px 40px 5px rgba(0,0,0,0.20);
}

.download h1{
	color:rgb(222, 236, 33);
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 1);
	font-family: 'Black Ops One', cursive;
}

.footer {
  color: #fff;
  clear: both;
  margin: 10px 0px 0px 0px;
  background-color: rgba(0,0,0,0.7);
  position: relative;
  margin-top: 140px;
  height:50px; 
  width:100%;
  text-align: center;
}
 
 .footer img{
 	height: 35px;
 	margin: 5px 0px 0px 0px

}

.login{
	border: 2px solid black;
	margin: 0px 0px 0px 200px;
	padding: 10px 10px 50px 10px;
	background-color: rgba(0,0,0,0.5);
	height:100px;
	width:300px;
	bottom:0px;
}

.cheat{
	height: 350px;
}

